/*GENERAL CSS*/
.links{
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(0, 64, 121);
    background-color: #1f2079;
    font-size: 30px;
    width: 80%;
    margin-left: 150px;
    margin-top: 30px;

}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 140px;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(248, 230, 195);
    font-size: 35px;
    text-align: center;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    background-color: #220070;
    
}
#logo{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    height: 80px;
    padding: 10px;
}
aside a {
    font-size: 15px;
}

aside ul {
    position: fixed;
    list-style: none;
    background-color: rgba(25, 77, 136, 0.322);
    height: 100%;
    width: 135px;
    border-radius: 20px;
    text-align: center;
    margin-top: 0;
    padding: 0;
    top: 0;
    overflow: hidden;

}

button {
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    border-style: none;
}

h1 {
    color: wheat;
}


