/* PROFILE PAGE*/
table,
th,
td {
    border: 1px solid black;
    margin: 20px;
    color: wheat;
    font-size: 25px;
    margin-left: 200px;
}

#pictures {
    margin-left: 20px;
    width: 500px;
    height: 500px;
    margin-right: 200px;
    margin-left: 200px;
}
